﻿<div class="jumbotron">
    <h1>Kloud Coding Test</h1>
    <p><a href="https://kloudcodingtest.azurewebsites.net/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <ul class="list-group">
        @foreach (var car in ViewBag.Cars as IEnumerable<Kloud.WebApp.ViewModels.CarsViewModel>)
        {
            <li class="list-group-item">
                <h4 class="list-group-item-heading">@Html.Raw(car.Brand)</h4>
                <p class="list-group-item-text">
                    <ol>
                        @foreach (var owner in car.Owners as IEnumerable<Kloud.WebApp.ViewModels.OwnerViewModel>)
                        {
                            <li>Owner : @Html.Raw(owner.Name), Car Colour : @Html.Raw(owner.CarColour)</li>
                        }
                    </ol>
                </p>
            </li>
        }
    </ul>
</div>